:root{
     --trans: 1150ms ease;
}
.checkbox{
     width: 50px;
     height: 50px;
     background-color: red;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 1000;
}
.checkbox:checked{
     transform: translateX(15em);
}
.checkbox:checked + nav{
     transform: translateX(0);
}

.checkbox:checked ~ main{
     transform: translateX(16em) rotateY(15deg);
}
nav, main, input{
     transition: var(--trans);

}
