/* ---------------resetting */
*{
     margin: 0;
     padding: 0;
}
body{
     background-color: deeppink;
     font-family: sans-serif;
     user-select: none;
}
/* **********************************
.                              NAVBAR
********************************** */
nav{
     position: fixed;
     top: 0;
     left: 0;

     height: 100%;
     width: 65%;

     display: flex;
     align-items: center;
     justify-content: center;
}
nav ul{
     width: 80%;
}
nav ul li{
     list-style-type: none;
     line-height: 2;
     letter-spacing: 2px;
     padding-left: 30%;

     color: #fff;
     text-transform: uppercase;
     font-weight: bolder;
}
/* --------------------------------HAMBURGER */

.hamburger{
     width: 50px;
     position: absolute;
     top: 0px;
     left: 0px;
     background-color: deeppink;
     z-index: 2;
}
.hamburger::before,
.hamburger::after,
.hamburger > div{
     content: "";
     display: block;

     height: 5px;
     margin: 7px;

     background-color: white;
     border-radius: 10px;
     transition: 0.4s ease;
}
     nav.active ~ .hamburger::before{
     transform: translateY(12px) rotate(315deg);
}
     nav.active ~ .hamburger::after{
     transform: translateY(-12px) rotate(-315deg);
}
     nav.active ~.hamburger > div{
     transform: scale(0);
}

/* ***********************************
.                         CONTAINER
*********************************** */
.container{
     background-color: #fff;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     padding: 4rem;
     overflow: auto;
     transition: 0.2s ease;
     z-index: 1;
}



@media screen and (orientation: portrait){
     nav.active + .container{
          transform: translateX(55%) scale(0.8);
          box-shadow: 0 0 30px 5px rgba(38, 38, 38, 0.3);
     }
}

@media screen and (orientation: landscape){
     nav.active + .container{
          transform: translateX(35%) scale(0.8);
          box-shadow: 0 0 30px 5px rgba(38, 38, 38, 0.3);
     }
}
