body{
     background-color: deeppink;
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
/* **********************navbar */
nav{
     position: fixed;
     display: flex;
     height: 100%;
     width: 65%;
     align-items: center;
     justify-content: center;
}
nav ul{
     width: 80%;
     list-style-type: none;
     letter-spacing: 2px;
     line-height: 2;
     font-weight: bolder;
     color: #fff;
}
nav ul li{
     font-family: tahoma;
     cursor: pointer;
     transition: 0.7s ease;
}
nav ul li:hover{
     color: black;
     font-size: 1.3em;
}
/* ********************container */
.container{
     background-color: #fff;
     position: absolute;
     top: 0px;
     left: 0px;
     right: 0px;
     bottom: 0px;
     padding: 4rem;
     overflow: auto;
     transition: 0.4s ease;
}
/* *******************hamburger */
.hamburger{
     width: 50px;
     position: absolute;
     top: 0px;
     left: 0px;
;}
.hamburger::before,
.hamburger::after,
.hamburger > div{
     height: 5px;
     margin: 7px;

     content: "";
     display: block;

     background-color: hsl(360, 100%, 35%);
     border-radius: 10px;
     transition: all  0.7s ease;
}
nav.active ~ .hamburger{
          background-color: #fff;
}
nav.active ~ .hamburger::before{
     transform: translateY(12px) rotate(315deg);
     background-color: deeppink;
}
nav.active ~ .hamburger::after{
     transform: translateY(-12px) rotate(-315deg);
     background-color: deeppink;
}
nav.active ~ .hamburger > div{
     transform: scale(0);
}
/* ********************transform */
@media screen and (orientation: portrait) {
     nav.active + .container{
          transform: translateX(55%) scale(0.8);
     }
}

@media screen and (orientation: landscape) {
     nav.active + .container{
          transform: translateX(35%) scale(0.8);
     }
}
